{% load bootstrap4 %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang='ru'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title >
    {% block title %}
      МоиЗаметки
    {% endblock %}
  </title>

  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
</head>

<body>
  {% include 'base/navbar.html' %}
  <div class='container' style='margin-bottom: 65px'>
    {% block content %}
    {% endblock content %}
  </div>
</body>
</html>